<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSafe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--NAV BAR-->
    <!--insert nav bar for every page here-->
    
    <!--FLASH NOTICES-->

    <!--TEMPLATE PULLED IN HERE-->
    <%= yield %>
  </body>
</html>
